name: test ci

on:
  workflow_call:
    secrets:
      SECRET_KEY:
        required: true
      CLOUDINARY_NAME:
        required: true
      CLOUDINARY_API_KEY:
        required: true
      CLOUDINARY_SECRET:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Download dependencies
        run: |
          pip install -r requirements.txt
      - name: test secrets
        run: |
          echo "hello ${{ env.SECRET_KEY }}"
      - name: Run Tests
        run: |
          python3.8 manage.py migrate
          python3.8 manage.py test
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}