name: test ci

on:
  workflow_call:
    secrets:
      SECRET_KEY:
        required: true
      CLOUDINARY_NAME:
        required: true
      CLOUDINARY_API_KEY:
        required: true
      CLOUDINARY_SECRET:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Cache dependencies
        id: Cachingstep
        uses: actions/cache@v2
        env:
          cache-name: cache-requirements
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Download dependencies
        if: steps.Cachingstep.outputs.cache-hit != 'true'
        run: |
          pip install -r requirements.txt
      - name: test secrets
        run: |
          echo "hello ${{ env.SECRET_KEY }}"
          echo "hello ${{ env.SECRET_KEY }}"
      - name: Run Tests
        run: |
          python3.8 manage.py migrate
          python3.8 manage.py test
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          CLOUDINARY_NAME: ${{ secrets.CLOUDINARY_NAME }}
          CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          CLOUDINARY_SECRET: ${{ secrets.CLOUDINARY_SECRET }}